<component name="libraryTable">
  <library name="mybatis-3.3">
    <CLASSES>
      <root url="file://$USER_HOME$/Documents/javalib/mybatis-3.3.0" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Documents/javalib/mybatis-3.3.0" recursive="false" />
  </library>
</component>